// ::::::: IMPORTS ::::::: //
@import "utilities/variables";
// ::::::: MAIN STYLES ::::::: //
* {
    font-family: 'Poppins', sans-serif;
    color: $primary-type-color;
}
body {
    background: linear-gradient(transparent 10%, #000),
                url("../img/home-page-background.png");
    background-repeat: no-repeat; // You will ReVisit
    background-position: center top;
        a {
            text-decoration: none;
        }
}
// :::Class style :::/
.intro-sect {
    margin: 1.25rem auto $m-sect-bottom-margin;
    text-align: center;
    width: 330px;
        & h1 {
            width: 70%;
            margin: 0 auto;
            line-height: 1.4;
        }
        & p {
            margin-bottom: 0;
        }
}


// ::::::: HEADER STYLES ::::::: //
nav {
display: flex;
justify-content: center;
align-items: center;
    & img {
        margin: 1.25rem 1.25rem;
    }
    & a {
        text-transform: uppercase;
        font-weight: 700;
    }
}