// ::::::: IMPORTS ::::::: //
@import "typography/typography",
        "utilities/variables";

// ::::::: MAIN STYLES ::::::: //
body {
    background: linear-gradient(rgba(0, 0, 0, 0.15), #000),
                url("../img/home-page-background.png");
    background-repeat: no-repeat; // You will ReVisit
    background-position: center top;
    min-height: 100vh;
        a {
            text-decoration: none;
        }
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
fieldset {
    border: none;
    display: block;
}
label {
    color: $tertiary-type-color;
    position: relative;
    right: 90px;
    top: 25px;
}
input[type="email"] {
    border: none;
    border-bottom: 3px solid $primary-type-color;
    width: 100%;
    background: none;
    padding-top: 20px;
    margin-bottom: 1.25rem;
  }
  button[type="submit"] {
      font-weight: 500;
      background: $accent-color;
      border: none;
      border-radius: 7.5px;
      padding: 0.85rem 0 ;
      width: 100%;
      display: block;
        &:hover {
            background: $active-accent-color;
            border: none;
            border-radius: 7.5px;
        }
  }

// ::: Class style :::/
.intro-sect {
    margin: 1.25rem auto $m-sect-bottom-margin;
    text-align: center;
    width: 330px;
        & h1 {
            width: 70%;
            margin: 0 auto;
            line-height: 1.4;
        }
        & p {
            margin-bottom: 0;
        }
        & .primary {
            margin: 0 auto 0 0;
            text-align: left;
        }
        .readability {
            margin: 1rem auto 0 0;
            text-align: left;
        }
        hr {
            border: 0.1px solid $primary-type-color;
            width: 20%;
            margin-left: 0;
            margin-top: 2rem;
        }
        & .avtor {
            font-weight: 500;
            text-align: left;
        }
}
// : Grid za lekcije :/
.prikaz-lek {
    margin: 1.25rem auto $m-sect-bottom-margin;
    text-align: center;
        & h3 {
            margin: 0;
        }
}
.lek-grid {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    padding-left: 1.875rem;
        .lek-col-4 {
            // Tukaj kontroliramo koliko prstorčka
            // nam ostane ko swipamo do konca lex-grida.
            // In si ogledamo vse dope lekcije.
            padding-right: 1.875rem;
        }
}

div[class^="ft-lek"] {
    // Boom tole je startst with selector
    // ki targetira vsak div ki ima clas ki se začne
    // z ft-lek
    background-color: #000;
    border-radius: 15px;
    width: $ft-lek-width;
    height: $ft-lek-height;
    margin: 1rem 0.5625rem;
    display: flex;
    flex-direction: row-reverse;
        & .type-section {
            display: flex;
            flex-direction: column;
        }
        & img {
            border-radius: 15px 0 0 15px;
        }
}

// : Form :/
.sign-up {
    margin: 1.25rem auto $m-sect-bottom-margin;
    text-align: center;
    width: 330px;
        & p {
            margin-bottom: 0;
        }
}

// ::: ID STYLES :::/
#lek {
    // Rul je namenjen menjavi odzadja posamične lekcije
    &-1 {
        background: linear-gradient(rgba(0, 0, 0, 0.15), #000),
        url(../img/background-image-lek-1.png);
        background-repeat: no-repeat; // You will ReVisit
        background-position: center top;
        margin: 0;
            @media (min-width: 767px) {
                background: linear-gradient(rgba(0, 0, 0, 0.15), #000),
                url(../img/background-image-lek-1_tablet.png);
                background-size: cover;
                background-repeat: no-repeat;
            }
    }
    &-2 {
        background: linear-gradient(rgba(0, 0, 0, 0.15), #000),
        url(../img/background-image-lek-2.png);
        background-repeat: no-repeat;
        margin: 0;
            @media (min-width: 767px) {
                background: linear-gradient(rgba(0, 0, 0, 0.15), #000),
                url(../img/background-image-lek-2_tablet.png);
                background-size: cover;
                background-repeat: no-repeat;
            }
    }
    &-3 {
        background: linear-gradient(rgba(0, 0, 0, 0.15), #000),
        url(../img/background-image-lek-3.png);
        background-repeat: no-repeat; // You will ReVisit
        background-position: center top;
        margin: 0;
            @media (min-width: 767px) {
                background: linear-gradient(rgba(0, 0, 0, 0.15), #000),
                url(../img/background-image-lek-3_tablet.png);
                background-size: cover;
                background-repeat: no-repeat;
            }
    }
    &-4 {
        background: linear-gradient(rgba(0, 0, 0, 0.15), #000),
        url(../img/background-image-lek-4.png);
        background-repeat: no-repeat; // You will ReVisit
        background-position: center top;
        margin: 0;
            @media (min-width: 767px) {
                background: linear-gradient(rgba(0, 0, 0, 0.15), #000),
                url(../img/background-image-lek-4_tablet.png);
                background-size: cover;
                background-repeat: no-repeat;
            }
    }
    &-5 {
        background: linear-gradient(rgba(0, 0, 0, 0.15), #000),
        url(../img/background-image-lek-5.png);
        background-repeat: no-repeat; // You will ReVisit
        background-position: center top;
        margin: 0;
            @media (min-width: 767px) {
                background: linear-gradient(rgba(0, 0, 0, 0.15), #000),
                url(../img/background-image-lek-6_tablet.png);
                background-size: cover;
                background-repeat: no-repeat;
            }
    }
    &-6 {
        background: linear-gradient(rgba(0, 0, 0, 0.15), #000),
        url(../img/background-image-lek-6.png);
        background-repeat: no-repeat; // You will ReVisit
        background-position: center top;
        margin: 0;
            @media (min-width: 767px) {
                background: linear-gradient(rgba(0, 0, 0, 0.15), #000),
                url(../img/background-image-lek-6_tablet.png);
                background-size: cover;
                background-repeat: no-repeat;
            }
    }
    &-7 {
        background: linear-gradient(rgba(0, 0, 0, 0.15), #000),
        url(../img/background-image-lek-7.png);
        background-repeat: no-repeat; // You will ReVisit
        background-position: center top;
        margin: 0;
            @media (min-width: 767px) {
                background: linear-gradient(rgba(0, 0, 0, 0.15), #000),
                url(../img/background-image-lek-7_tablet.png);
                background-size: cover;
                background-repeat: no-repeat;
            }
    }
    &-8 {
        background: linear-gradient(rgba(0, 0, 0, 0.15), #000),
        url(../img/background-image-lek-8.png);
        background-repeat: no-repeat; // You will ReVisit
        background-position: center top;
        margin: 0;
            @media (min-width: 767px) {
                background: linear-gradient(rgba(0, 0, 0, 0.15), #000),
                url(../img/background-image-lek-8_tablet.png);
                background-size: cover;
                background-repeat: no-repeat;
            }
    }
    &-9 {
        background: linear-gradient(rgba(0, 0, 0, 0.15), #000),
        url(../img/background-image-lek-9.png);
        background-repeat: no-repeat; // You will ReVisit
        background-position: center top;
        margin: 0;
            @media (min-width: 767px) {
                background: linear-gradient(rgba(0, 0, 0, 0.15), #000),
                url(../img/background-image-lek-9_tablet.png);
                background-size: cover;
                background-repeat: no-repeat;
            }
    }
    &-10 {
        background: linear-gradient(rgba(0, 0, 0, 0.15), #000),
        url(../img/background-image-lek-10.png);
        background-repeat: no-repeat; // You will ReVisit
        background-position: center top;
        margin: 0;
            @media (min-width: 767px) {
                background: linear-gradient(rgba(0, 0, 0, 0.15), #000),
                url(../img/background-image-lek-10_tablet.png);
                background-size: cover;
                background-repeat: no-repeat;
            }
    }
    &-11 {
        background: linear-gradient(rgba(0, 0, 0, 0.15), #000),
        url(../img/background-image-lek-11.png);
        background-repeat: no-repeat; // You will ReVisit
        background-position: center top;
        margin: 0;
            @media (min-width: 767px) {
                background: linear-gradient(rgba(0, 0, 0, 0.15), #000),
                url(../img/background-image-lek-11_tablet.png);
                background-size: cover;
                background-repeat: no-repeat;
            }
    }
    &-12 {
        background: linear-gradient(rgba(0, 0, 0, 0.15), #000),
        url(../img/background-image-lek-12.png);
        background-repeat: no-repeat; // You will ReVisit
        background-position: center top;
        margin: 0;
        @media (min-width: 767px) {
            background: linear-gradient(rgba(0, 0, 0, 0.15), #000),
            url(../img/background-image-lek-12_tablet.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}
// ::::::: HEADER STYLES ::::::: //
nav {
display: flex;
justify-content: center;
align-items: center;
    & img {
        margin: 1.25rem 1.25rem;
    }
    & a {
        text-transform: uppercase;
        font-weight: 700;
    }
}
// ::::::: MEDIA QUERIES ::::::: //
@media (min-width: 767px) {
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
            & img {
                margin-top: 1.75rem;
                margin-right: 35%;
                margin-left: 35%;
            }
            & a {
                text-transform: uppercase;
                font-weight: 700;
            }
        }
        .intro-sect {
            width: 80%;
                h1 {
                    width: 35%;
                }
                .readability {
                    width: 80%;
                }
        }
        .lek-grid {
            padding-left: 9%;
        }
        .sign-up {
            width: 80%;
                p {
                    text-align: center;
                    width: 85%;
                    margin: 0 auto;
                }
        }
        label {
            right: 225px;
            top: 35px;
        }
        fieldset {
            padding: 0;
        }
        input[type="email"] {
            width: 98%;
        }
        body {
            min-height: 100vh;
        }
} 