// ::::::: VARIABLES used ::::::: //

// ::: Margin variables :::/
$m-sect-bottom-margin: 3.5rem;

// ::: Color variables :::/
$primary-type-color: whitesmoke;
$tertiary-type-color: rgba(245, 245, 245, 0.701);
$accent-color: #21CA8F;
$active-accent-color: #35dea3;

// ::: Lekcija container :::/
$ft-lek-width: 276px;
$ft-lek-height: 100px;